@{
    ViewBag.Title = "Crescent Bay Holdings";
}
<body>
    <div class="menubar">
        <div class="table">
            <ul id="horizontal-list">
                <li>DOCUMENTATION</li>
                <li>PERFORMANCE METRICS</li>
                <li>SALES REPORT</li>
                <li>TRAFFIC REPORT</li>
                <li>LOCATION</li>
            </ul>
        </div>


    </div>
    <div class="colmask threecol">

        <div class="colmid">
            <div class="colleft">
                <div class="col1">
                    <!-- Column 2 start -->
                    <div class="position">
                        <p>
                            <img src="http://localhost:4838/Images/delete_graphs.png" />
                        </p>

                        <img src="http://localhost:4838/Images/delete_salesTraffic.png" />
                        <img src="http://localhost:4838/Images/delete_gMaps.png" />


                        <!-- Column 2 end -->
                    </div>
                </div>
                <div class="col2">
                    <!-- Column 1 start -->
                    <p>
                        <img src="http://localhost:4838/Images/delete_taskList.png" />
                    </p>
                    <p>
                        <img src="http://localhost:4838/Images/delete_recentUpdates.png" />
                    </p>
                    <!-- Column 1 end -->
                </div>
                <div class="col3">
                    <!-- Column 3 start -->
                    <p>
                        <img src="http://localhost:4838/Images/delete_builders.png" />
                    </p>
                    <!-- Column 3 end -->
                </div>
            </div>
        </div>
    </div>
</body>
