@font-face {
    font-family: 'EyeGlass Normal';
    src: url('../Fonts/EYEGLASS_NORMAL.ttf') format('truetype');
}

html {
    font-family: EyeGlass;
    background-color: whitesmoke;
}

body {
}



/* Styling Links */
a {
}

    a:link, a:visited,
    a:active, a:hover {
    }

    a:hover {
        background-color: #c7d1d6;
    }


header {
    height: 50px;
    padding: 0 15% 0 15%;
    background-color: black;
}

footer, hgroup,
nav, section {
}

/* Header styles */
h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
/* column container */
.colmask {
    position: relative; /* This fixes the IE7 overflow hidden bug */
    clear: both;
    float: left;
    width: 100%; /* width of whole page */
    overflow: hidden; /* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
    float: left;
    width: 100%; /* width of page */
    position: relative;
}

.col1,
.col2,
.col3 {
    float: left;
    position: relative;
    overflow: hidden;
}
/* 3 Column settings */
.threecol {
    background: url('../Images/pw_pattern.png'); /* column's background colour */
}

    .threecol .colmid {
        right: 15%; /* width of the right column */
    }

    .threecol .colleft {
        right: 70%; /* width of the middle column */
    }

    .threecol .col1 {
        width: 64%; /* width of center column content (column width minus padding on either side) */
        left: 105%; /* 100% plus left padding of center column */
        background: #CCCCCC;
    }

        /*only works because of the current size of the objects. Value should change upon correct implementation*/
        .threecol .col1 .position {
            margin-left: 11%;
            height: 800px;
            padding-bottom: 10px;
        }

            .threecol .col1 .position .topright {
                position: relative;
                top: 30px;
            }

    .threecol .col2 {
        width: 13%; /* Width of left column content (column width minus padding on either side) */
        left: 26%; /* width of (right column) plus (center column left and right padding) plus (left column left padding) */
    }

        .threecol .col2 .position {
            position: relative;
            margin-left: 20%;
        }

    .threecol .col3 {
        width: 11%; /* Width of right column content (column width minus padding on either side) */
        left: 95%; /* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
    }

        .threecol .col3 .position {
            margin-left: 20%;
        }

.content-wrapper {
}

 #dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }

/*seems like I should manipulate this in the body not seperately*/
.menubar {
    background-color: #B8B8B8;
 
}

.table {
    display: table;
    margin: -0px auto -10px auto;
}
ul#horizontal-list {
    min-width: 70%;
    list-style: none;
}  


ul#horizontal-list li {
    display: inline;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
}

li:hover {
            color: white;
            cursor: pointer;
        }
    
.main-content {
}

.featured + .main-content {
}

header .content-wrapper {
}

footer {
    background-color: #e2e2e2;
}


/* site title
----------------------------------------------------------*/
.site-title {
    font-size: 2em;
    margin: 0;
    width: 50%;
    height: 250px;
    display: inline;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        color: black;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    font-size: 2.3em;
    font-weight: 600;
    padding: 0;
    text-align: left;
}

    #login a {
        background: none;
        color: #999;
        text-decoration: none;
    }

        #login a:hover {
            color: #333;
            text-decoration: none;
        }

        #login a.username {
            background: none;
            margin: 0;
            padding: 0;
            text-decoration: underline;
        }


    #login li {
        display: inline;
        list-style: none;
    }



/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 2.3em;
    font-weight: 600;
    margin: 0 35px 20px 0;
    padding: 0;
    text-align: left;
}

    ul#menu li {
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: white;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #999;
                text-decoration: none;
            }
