 @font-face {
    font-family: Eyeglass;
    src: url('/Content/Fonts/eyeglass-normal.ttf'),;
}

html {
    background-color: #E3E3E3;
}

body {
    margin: 50px 0px 0px 100px;
    font-family: Eyeglass, Arial;
}

h4 {
    margin-top: 15px;
    display: block;
}

ul {
    margin: 0px 0px 0px -40px;
}

li {
  list-style-type: none;  
  border-top: 1px solid #E3E3E3;
}

.wrapper {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #E3E3E3;
  width: 600px;
  opacity: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #000000;
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  -ms-box-shadow: 0px 0px 5px 0px #000000;
  -o-box-shadow: 0px 0px 5px 0px #000000;
}

.create-a-project {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ffffff;
  width: 600px;
  height: 60px;
  line-height: 0px;
  opacity: 1;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  font-weight: bold;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-top: 30px;
}

.name {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ffffff;
  width: 600px;
  height: 50px;
  opacity: 1;
  color: #666666;
  font-weight: bold;
  padding-left: 30px;
}

.location {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ffffff;
  width: 600px;
  height: 50px;
  opacity: 1;
  color: #666666;
  font-weight: bold;
  padding-left: 30px;
}

    #long {
        display: block;
        float: left;
    }

    #lat {
        display: block;
        float: right;
        margin-right: 50px;
    }
.num-lots {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ffffff;
  width: 600px;
  height: 50px;
  opacity: 1;
  color: #666666;
  font-weight: bold;
  padding-left: 30px;
}

.acq-price {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ffffff;
  width: 600px;
  height: 50px;
  opacity: 1;
  color: #666666;
  font-weight: bold;
  padding-left: 30px;
}

.imp-costs {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ffffff;
  width: 600px;
  height: 50px;
  opacity: 1;
  color: #666666;
  font-weight: bold;
  padding-left: 30px;
}

.elt-schedule {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ffffff;
  width: 600px;
  height: 130px;
  opacity: 1;
  color: #666666;
  font-weight: bold;
  text-align: center;
}

.add-opts {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ffffff;
  width: 600px;
  height: 52px;
  opacity: 1;
  color: #666666;
  font-weight: bold;
  padding-left: 30px;
}

    .add-opts h4 {
        display: block;
        float: left;
    }

.cancelcreate-parent {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ffffff;
  width: 600px;
  height: 100px;
  opacity: 1;
  border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  color: #666666;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  line-height: 0px;
}

.cancel {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #DDDDDD;
  width: 80px;
  height: 50px;
  opacity: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #7C7C7C;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin-right: 30px;
  box-shadow: 0px 0px 5px 0px #000000;
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  -ms-box-shadow: 0px 0px 5px 0px #000000;
  -o-box-shadow: 0px 0px 5px 0px #000000;
  display: block;
  float: right;
}

.create {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #1a74c6;
  width: 160px;
  height: 50px;
  opacity: 1;
  border: 1px solid #075399;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin-right: 50px;
  line-height: 0px;
  box-shadow: 0px 0px 5px 0px #000000;
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  -ms-box-shadow: 0px 0px 5px 0px #000000;
  -o-box-shadow: 0px 0px 5px 0px #000000;
  display: block;
  float: right;
}

.user-info {
    padding-left: 10px;
    margin-left: 10px;
}

.currency {
    padding-left: 10px;
    padding-right:-5px;
    margin-left: 5px;
    margin-right:-5px;
}

/* BOOLEAN SLIDER */
.bool-slider 
{
    border: 1px solid #CCC;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
   
    display: block;
    float: left;
    margin-top: 7px;
    margin-left: 20px;
   
    height: 30px;
    width: 80px;
    border-radius: 25px;
}

.bool-slider.true .inset
{
    background-color: #1a74c6;
    background-image: linear-gradient(top, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bool-slider.true .inset .control{float: left;}
.bool-slider.true .inset .control:after
{
    content: 'On';
    position: relative;
    right: -135%;
    top: 20%;
}

.bool-slider.false .inset
{
    background-color: #DDDDDD; 
        *background-color: #bd362f;
    background-image: linear-gradient(top, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        background-image: none;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bool-slider.false .inset .control{float: right;}
.bool-slider.false .inset .control:before
{
    content: 'Off';
     color: #7C7C7C; 
    position: relative;
    left: -100%;
    top: 20%;
}

.bool-slider .inset
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}

.bool-slider .inset .control
{
    background-color: #000;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
}

.bool-slider .inset .control:hover
{
    cursor: pointer;
}

.bool-slider.disabled
{
    color: #CCC;
}

.bool-slider.disabled .inset
{
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
}

.bool-slider.disabled .control
{
    cursor: default;
}
