#progress {
  font-size: 1.25em;
  font-weight: bold;
  height: 80px;
  left: 60px;
  line-height: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 80px;
  left: 40%;
  width: 200px;
}

.fade {
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
}

.fade.yellow, .fade .yellow {
}

/* highlight, other colors.  see colors.css for color info. */

span.highlight {
}

.dgreen {
}

.lgreen {
}

.dblue {
}

.grey {
}

.blue {
}

.white {
}

.clickable {
  cursor: pointer;
}

._msg {
  padding: .2em;
}

