/* 
for toolbar, top menu, panels, etc.
*/

#body .toolbar, #body_full .toolbar, #body_lp .toolbar, #body_rp .toolbar {
  width: 66%;
  height: 3em;
  position: fixed;
  top: 5em;
  left: 0;
  /* box-shadow: inset 0 0 .2em #000; */
}

#body_full .toolbar, #body_lp .toolbar {
  width: 100%;
}

section#leftpanel {
  width: 10%;
  position: fixed;
  /* top: 8em;
  bottom: .2em; */
  left: 0;
  overflow: auto;
  /* box-shadow: inset 0 0 .2em #000; */
}

section#rightpanel {
  width: 34%;
  position: absolute;
  top: 5em;
/* 
  bottom: .2em;
*/
  right: 0;
  overflow: auto;
}

header#main .branding {
  overflow: auto;
  height: 2.5em;
  /* box-shadow: inset 0 0 .2em #000; */
}

#main .navigation {
  height: 2.5em;
  position: relative;
  /* box-shadow: inset 0 0 .2em #000; */
}

header#main .branding h1 {
  display: block;
  float: left;
  font-size: 1.5em;
}

header#main .branding .account {
  float: right;
  width: 33%;
}

#main .branding .account ul {
  list-style-type: none;
  overflow: auto;
  float: right;
}

#main .branding .account ul li {
  float: left;
  margin: .2em;
}

#main .branding .account ul li a {
  display: block;
  padding: .2em .5em;
  text-decoration: none;
}

#main .branding .account ul li a:hover {
}

#main .navigation ul {
  list-style-type: none;
  overflow: auto;
  position: absolute;
  bottom: 0;
  margin-left: 1em;
}

#main .navigation ul li {
  float: left;
  margin: .2em 0 0 .5em;
}

#main .navigation ul li a {
  display: block;
  text-decoration: none;
  padding: .2em;
  font-size: 1.1em;
  /* box-shadow: inset 0 0 .2em #000; */
}

#main .navigation ul li a:hover {
}

.toolbar ul {
  list-style-type: none;
  overflow: auto;
  height: 100%;
}

.toolbar ul li {
  float: left;
  margin: .4em 0 .4em .4em;
}

.toolbar ul li a {
  display: block;
  text-decoration: none;
  padding: .3em;
  /* box-shadow: inset 0 0 .2em #000; */
}

.toolbar ul li a:hover {
}

.toolbar ul.buttons {
  float: left;
  width: 58%;
}

.toolbar ul.nav {
  float: right;
  margin-right: .5em;
}

.toolbar ul li span {
  display: block;
  padding: .3em;
  /* box-shadow: inset 0 0 .2em #000; */
  font-weight: bold;
}

#leftpanel ul.lmenu {
  list-style-type: none;
  margin: 1em 0 0 0; /* .4em; */
  position: relative;
  right: 0;
  /* box-shadow: inset 0 0 .2em #000; */
}

#leftpanel ul.lmenu li {
  display: block;
  margin: 0; /* .2em 0; */
}

#leftpanel ul.lmenu li a {
  display: block;
  text-decoration: none;
  padding: .2em;
}

#leftpanel ul.lmenu li a:hover {
}

#leftpanel ul.lmenu li a.current, #lefnpanel ul.lmenu li a.current:hover {
}

#rightpanel h4 {
  text-align: center;
}

#rightpanel .rsborder {
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  height: 100%;
  /* box-shadow: inset 0 0 .2em #000; */
}

#rightpanel .openclose {
  margin-top: 0.25em;
  float: left;
}

.openclose a {
  display: block;
  padding: .5em;
  text-decoration: none;
}

.openclose a:hover {
}

#rightpanel .rscontent {
  height: 100%;
  width: 99%;
  margin-left: .2em;
  /* box-shadow: inset 0 0 .2em #000; */
}

.rscontent #docspanel {
  overflow: auto;
  height: 40%;
  margin: 0 auto;
  width: 90%;
  /* box-shadow: inset 0 0 .2em #000; */
}

.rscontent #commentspanel {
  /* overflow: auto; */
  height: 60%;
  /* width: 98%; */
  /* margin: 0 auto; */
  /* box-shadow: inset 0 0 .2em #000; */
  /* position: relative; */
}

#commentspanel .subform {
  height: 30%;
  width: 90%;
  margin: 0 auto;
}

#commentspanel .sublist {
  overflow: auto;
  height: 70%;
  /* box-shadow: inset 0 0 .2em #f00; */
}

.rscontent .subform {
}

